* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #495057, #343a40);
  color: rgb(240, 240, 240);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.header__title {
  font-size: 2rem;
  font-weight: 400;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: rgb(240, 240, 240);
}

form button {
  color: #343a40;
  background-color: rgb(240, 240, 240);
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: #343a40;
  color: rgb(240, 240, 240);
}

.todo__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo__list {
  min-width: 30%;
  list-style: none;
}

.todo__item {
  margin .5rem;
  background-image: linear-gradient(120deg, #6C757D, #495057);
  color: rgb(240, 240, 240);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo__descr {
  flex: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
}

.btn-trash,
.btn-completed {
  background-color: #343a40;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.btn-completed {
  color: rgb(52, 218, 52);
}
.btn-trash {
  color: rgb(241, 67, 67);
}
